body {
  padding-top: 125px;
}
.pattern-noise {
  background-image: url("/images/noise.png");

}
.margin-left-20 {
  margin-left: 20px;
}


.content-section {
    padding: 50px 0;
}
.content-section-a {
    background-color: #f8f8f8;
}
.content-section-b {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}
.section-heading{
  margin-bottom:30px;
}

.tagline {

  background: rgba(195,182,0,1);
  background: -moz-linear-gradient(top, rgba(195,182,0,1) 0%, rgba(248,248,248,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(195,182,0,1)), color-stop(100%, rgba(248,248,248,1)));
  background: -webkit-linear-gradient(top, rgba(195,182,0,1) 0%, rgba(248,248,248,1) 100%);
  background: -o-linear-gradient(top, rgba(195,182,0,1) 0%, rgba(248,248,248,1) 100%);
  background: -ms-linear-gradient(top, rgba(195,182,0,1) 0%, rgba(248,248,248,1) 100%);
  background: linear-gradient(to bottom, rgba(195,182,0,1) 0%, rgba(248,248,248,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3b600', endColorstr='#f8f8f8', GradientType=0 );

}
.top_socials {
    margin: 0 12px;
}
.top_socials li {
    width: 30px;
    display: inline-block;
    vertical-align: top;
    margin-right: 0;
    padding: 0;
}
.tagline a {
    display: block;
    color: #334159;
    line-height: 44px;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    text-align: center;
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
}


.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}
.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand>img {
  padding: 7px 14px;
}

.jumbotron {
  // background-image: url('/images/cover_4_blur.jpg');
  background-color: lighten(#c3b600, 10%);
}

//
// body{
//   font-weight: 400;
// color: #4c5667;
// background: #fff;
// font-size: 14px;
// line-height: 22px;
// overflow-x: hidden;
//
// }
//
// // Footer
// .footer{
//   // color: #999999;
// }
// .footer .support {
//     padding: 0 0 30px;
// }
// .footer .heart{
//     color: #FF3B30;
// }
// .footer .overlayer{
//     background-color: rgba(27, 27, 27, 0.7);
//     position: relative;
// }
// .footer .overlayer>.container {
//
//     padding-bottom: 30px;
//     padding-top: 30px;
// }
// .footer .credits {
//    border-top: 1px solid #fff;
//     margin-top: 85px;
//     padding: 20px 0 15px;
//     text-align: center;
//     color: #EEE;
// }
// .footer .credits a{
//     color: #FFFFFF;
// }
// .footer li a, .footer li, .footer p {
//     color: #FFFFFF;
//     margin: 5px 0;
// }
// .footer .subscribers {
//     color: #999;
//     font-weight: 200;
// }
// .footer h4 {
//     color: #999;
//     font-weight: 400;
// }
//
// //HEADER
//
// .tagline {
//     background: #eef2f5;
//     font-size: 13px;
//     color: #334159;
// }
//
// .email, .phone {
//     display: inline-block;
//     vertical-align: top;
//     margin-right: 20px;
//     padding: 11px 0;
//     font-weight: 600;
//     letter-spacing: 0.02em;
// }
// .top_socials {
//     margin: 0 12px;
// }
// .top_socials li {
//     width: 30px;
//     display: inline-block;
//     vertical-align: top;
//     margin-right: 0;
//     padding: 0;
// }
// .top_socials a {
//     display: block;
//     color: #334159;
//     line-height: 44px;
//     transition: all 300ms;
//     -webkit-transition: all 300ms;
//     text-align: center;
//     background-color: transparent;
//     font-size: 16px;
//     font-weight: 400;
// }
//
//
// //
// .navbar-nav.navbar-custom {
//     padding: 10px 0px;
//     margin-bottom: 0px;
//     transition: background-color 1s ease-in-out, border 1s ease-in-out;
//     -moz-transition: background-color 1s ease-in-out, border 1s ease-in-out;
//     -webkit-transition: background-color 1s ease-in-out, border 1s ease-in-out;
//     -o-transition: background-color 1s ease-in-out, border 1s ease-in-out;
// }
// .navbar-custom {
//     background-color: #ffffff;
//     -moz-box-shadow: 0 2px 2px rgba(0,0,0,.1);
//     -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.1);
//     box-shadow: 0 2px 2px rgba(0,0,0,.1);
//     width: 100%;
//     border-radius: 0px;
//     z-index: 999;
// }
// //INDEX
// .home {
//     // margin-top: -118px;
// }
// .bg-dark {
//     background: -webkit-linear-gradient(#444F5C, #334159);
//     background: -moz-linear-gradient(#444F5C, #334159);
//     background: -ms-linear-gradient(#444F5C, #334159);
//     background: -o-linear-gradient(#444F5C, #334159);
//     background: linear-gradient(#444F5C, #334159);
// }



.nice-list li:before {
    content: "\f105";
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px 0 0 10px;
    font-family: "FontAwesome";
    font-size: 20px;
    line-height: 1;
    opacity: 0.5;
}
.nice-list li {
    position: relative;
    padding: 8px 0 8px 40px;
}
.nice-list {
    list-style: none;
    padding: 0;
}