

<div class="footer">
    <div class="overlayer">
    <div class="container">
        <div class="row support">
            <div class="col-sm-2">
                <h4>Help &amp; Support</h4>
                <ul class="nice-list">

                    <li><a href="/services/">Services</a></li>
                    <li><a href="/background/">Background</a></li>
                    <li><a href="/confidentiality/">Confidentiality</a></li>
                    <li><a href="/contact-us/">Contact</a></li>

                </ul>
            </div>
            <div class="col-sm-3">
                <h4>Useful Links</h4>
                <ul class="nice-list">
                  <li>
                    <a href="http://www.youngminds.org.uk/" target="_new">
                      Young minds
                    </a>
                  </li>
                  <li>
                    <a href="http://www.cornerstone-sheffield.co.uk/" target="_new">Cornerstone</a>
                  </li>
                  <li>
                    <a href="http://www.sheffieldchildrens.nhs.uk/refer-to-us/camhs/community-camhs.htm" target="_new">Sheffield Community CAMHS </a>
                  </li>
                  <li>
                    <a href="https://www.sheffield.gov.uk/caresupport/childfam/childrens-social-care.html" target="_new">Sheffield Children’s Social Care services </a>
                  </li>
                  <li>
                    <a href="http://www.nhs.uk/Livewell/mentalhealth/Pages/Mentalhealthhome.aspx" target="_new">NHS Mental Health concerns </a>
                  </li>

                </ul>


            </div>
            <div class="col-sm-4">
                <h4>Recent Articles</h4>
                <ul class="nice-list">
                <% blog.articles[0...5].each do |article| %>
                  <li>
                    <a href="<%= article.url %>"><%= article.title %></a>
                  </li>
                <% end %>
                <li>
                  <a href="/articles/">More Articles</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-3">
                <h4>Graham Titterton</h4>
                <ul class="nice-list">
                    <li>
                        <a href="http://www.hpc-uk.org/search-results/search-details/?searchOption=2&search=35853&ID=SW35853&profession=SW" target="_new">
                            HCPC Registered SW25853
                        </a>
                    </li>

                    <li> <a href="/terms">Terms &amp; Conditions</a></li>
                    <li> <a href="/privacy">Privacy Policy</a></li>

                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 credits text-right">
                &copy; 2016 Youth Therapy Service, made with <i class="fa fa-heart heart" alt="love"></i> by
                <a href="http://www.summit360.co.uk" target="_new">
                  Summit360
                </a>
                <p class="small">
                  Registered office: 14 Brookfield Road, Sheffield S7 1DW |
  Director: G.M. Titterton | Company (registered in England)No: 9888341
                </p>
            </div>
        </div>
    </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-2.1.3.js"></script>

<%= javascript_include_tag  "all" %>
<%= google_analytics_universal_tag %>
