

<div class="footer">
    <div class="overlayer">
    <div class="container">
        <div class="row support">
            <div class="col-sm-3">
                <h4>Help and Support</h4>
                <ul class="list-unstyled">

                    <li><a href="/about/">About</a></li>
                    <li><a href="/contact-us/">Contact</a></li>

                </ul>
            </div>
            <div class="col-sm-3">
                <h4>Happy people</h4>

            </div>
            <div class="col-sm-4">
                <h4>Recent Articles</h4>
                <ul class="list-unstyled">
                <% blog.articles[0...5].each do |article| %>
                  <li>
                    <a href="<%= article.url %>"><%= article.title %></a>
                  </li>
                <% end %>
              </ul>
            </div>
            <div class="col-sm-2">
                <h4>Graham Titterton</h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="http://www.hpc-uk.org/search-results/search-details/?searchOption=2&search=35853&ID=SW35853&profession=SW" target="_new">
                            HCPC Registered SW25853
                        </a>
                    </li>

                    <li> <a href="/terms">Terms &amp; Conditions</a></li>
                    <li> <a href="/privacy">Privacy Policy</a></li>

                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 credits text-right">
                &copy; 2015-16 Youth Therapy Services, made with <i class="fa fa-heart heart" alt="love"></i> by Summit360.
            </div>
        </div>
    </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-2.1.3.js"></script>

<%= javascript_include_tag  "all" %>
<%= google_analytics_universal_tag %>
