---
title: Background
---

<div id="background" class="landing-section background">
  <div class="bg_gradient">
    <div class="wrapper">
  <div class="text-center white-text">
    <h1>I have been working with children, young people and their families for over 20 years.</h1>

    <a class="btn btn-primary btn-lg " href="/contact-us" role="button">Get in Touch Today</a>
  </div>
</div>
</div>
</div>

<section class="content-section content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">My Background</h2>

        <p>

          I trained in Psychodynamic Counselling for four years in Cambridge, and worked with clients there.  Starting in the voluntary sector, I worked with referrals from Social Services and Youth Justice as a manager of a countywide group work youth project.  This led me on to working therapeutically in children’s residential facilities.
        </p>
        <p>
          I then moved to Sheffield where I qualified as a Social Worker and worked therapeutically in the Child and Adolescent Mental Health Service (CAMHS) and Youth Offending teams which gave me many happy years of experience.  During this time, I also gained further training in:
          <ul class="nice-list">
            <li>Webster Stratton Parenting coordinator</li>
            <li>Mindfulness</li>
            <li>Acceptance and Commitment Therapy (ACT)</li>
            <li>Gestalt Therapy</li>
            <li>Emotional Freedom Technique</li>
            <li>Child – parent play</li>
            <li>A wide range of mental health specialities</li>
          </ul>
        </p>
      </div>
      <div class="col-sm-12 col-lg-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Qualifications</h2>
        <p>I am registered with the Health and Care Profession Council, (HCPC: SW35853) and I am an individual member of the British Association for Counselling & Psychotherapy (BACP: 801975)</p>
        <ul class="nice-list">
          <li>1993-97 Cert and Dip in Psychodynamic Counselling - University of Cambridge</li>
          <li>2004 BA (Hons) - Sheffiled Hallam University</li>
          <li>2004 Diploma in Social Work</li>
          <li>2006 Webster Stratton Parenting Course Leader</li>
        </ul>
        <p class="">
          Now after many happy years in the public sector I have moved into private practice to focus on delivering high quality and necessary therapeutic support to children and young people, and their families.
        </p>
      </div>

    </div>
  </div>
</section>
