---
title: Confidentiality
---

<!-- first section - Home -->
<div id="confidentiality" class="landing-section confidentiality">
  <div class="bg_gradient">
    <div class="wrapper">
  <div class="text-center white-text">
    <h1>What we discuss in sessions, will not be shared with anyone.</h1>
    <h3>That includes family, teachers or other agencies.</h3>
    <a class="btn btn-primary btn-lg " href="/contact-us" role="button">Get in Touch Today</a>
  </div>
</div></div>
</div>


<section class="content-section content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">How I can help?</h2>
        <p class="lead">What we discuss during a session, both content and style, stays between us and will not be shared with anyone.  That includes family, teachers or other agencies.  This is to ensure that you feel safe and have the space to explore any difficult feelings you may be having.  The only time that information will be shared is if I feel that you will come to harm, or others will come to harm.  In that event, I will discuss this with you first before we decide on what course of action should be taken.
        </p>
        <p>
          There may be times when a client ’discloses’ information during a session that relates to others that may need passing on to authorities.  Again, we can discuss how this works.  Authorities or agencies generally mean Social Care or, in exceptional circumstance, the Police.  I would not take these decisions lightly, and have many years of experience of dealing with all agencies and will of course offer you the best support.
        </p>
        <p>
        I do keep records of our sessions in note form to clarify my thoughts and to ensure I can give you the best service.  They are kept on paper in a locked cabinet my office at home. They will not be on a computer, and they will not be shared with anyone.
        </p>
        <p>
        if you have any questions about confidentiality, please do ask me anything and I will try to clarify for you.
        </p>

      </div>
    </div>
  </div>
</section>
