---
title: Contact Me
---

<section id="maps" class="maps-section section">

	<div class="container-fluid maps-row">

		<div class="row">

					<!-- MAPS IMAGE -->
					<div class="hidden-xs col-lg-6 maps-image fadeIn animated done-animation" data-animation="fadeIn">



							<!--Google Map Embedd. Make sure to remove all width and height inline styles and everything after the closing </iframe> tag.-->
							<iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d4761.765827097116!2d-1.5086118973907527!3d53.36325034145413!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x4879821645b68453%3A0x78f9f5dd12818b5!2s99+Murray+Rd%2C+Sheffield+S11+7GH%2C+UK!3m2!1d53.3619305!2d-1.5099409!5e0!3m2!1sen!2suk!4v1452612555974" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>


						<!-- MAPS TEXT -->
						<div class="col-xs-12 col-lg-6 maps-text fadeIn animated done-animation" data-animation="fadeIn">

							<div class="maps-text-inner">

								<h2 class="section-heading text-left">Youth Therapy Service, Sheffield</h2>

								<p>Please feel to phone, text or email us. We're based in Banner Cross, just off Ecclesall Road.</p>
								<p>We can also meet at school, at home or other venues by agreement.</p>



								<div class="row">
									<address class="col-sm-12">
										<strong>Cornerstone Counselling &amp Therapy Centre</strong>
										<ul class="fa-ul">
											<li><i class="fa-li fa fa-home"></i>Graham Titterton<br>Sheffield, UK</li>

											<li>
												<i class="fa-li fa fa-phone"></i>
												<a href="tel:+441143602180">
													Phone: 0114 267 8613
												</a>
											</li>
											<li>
												<i class="fa-li fa fa-mobile"></i>
												<a href="tel:+447840392428">
													Mobile: `07840 392 428
												</a>
											</li>
										</ul>
									</address>

								</div>

							</div>

						</div>



		</div>
	</div>

</section>
