---
title: Home
---
<div class="container">

  <div class="jumbotron">
    <h1>Children &amp; Youth Therapy</h1>
    <p>I can help you work a way through and understand any problems in the past or present.</p>
    <p>
    <em>Graham Titterton</em>

    <a class="btn btn-primary btn-lg margin-left-20" href="/contact-us" role="button">Get in Touch Today</a></p>
  </div>
</div>

<section class="content-section content-section-a pattern-noise">
  <div class="container">

    <h1 class="text-center">Going forward together for a better future
    <br/><small class="subtitle">I have been working with children, young people and their familes for over 20 years.</small></h1>
  
  </div>
</section>

<section class="content-section content-section-b">
  <div class="container">
   <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">How I can help?</h2>
                    <p class="lead">Sometimes things change around you, or you may want to make a change to your life. I can help you work a way through and understand any problems in the past or present, moving to a better place for the future.</p>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">I can help with?</h2>
                    <p class="lead">A range of feelings & issues. Working with Social Care, schools and other service. I'll work through issues with people of different ages as needed.</p>
                </div>
                
            </div>
  </div>
</section>
<section class="content-section content-section-a">
  <div class="container">
      <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">My Background</h2>
                    <p class="lead">I trained in Psychodynamic Councelling at Cambridge. I began in the voluntary sector working with Social Service &amp; Youth Justice. I then qualified as a Social Worker and worked therapeutically in the Child and Adolescent Mental Health Service &amp; Youth Offending teams for many years.</p>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Qualifications</h2>
                    <p>I am registered with the Health and Care Profession Council, (HCPC:SW35853) and I am an individual member of the British Association for Counselling & Psychotherapy (BACP)</p>
                    <ul class="nice-list">
                    <li>Cert and Dip in Psychodynamic Counselling - University of Cambridge</li>
                    <li>BA (Hons) - Sheffiled Hallam University</li>
                    <li>Diploma in Social Work</li>
                    <li>Webster Stratton Parenting Course Leader</li>
                    </ul>
                </div>
        

      </div>
  </div>
</section>