---
title: Home
---

<!-- first section - Home -->
<div id="home" class="home landing-section">
  <div class="text-center white-text">
    <h1>Therapy for Children,<br/>Young People &amp; their Families</h1>
    <h3>Supporting you through your difficulties<br/> in a supportive and positive way to help you feel secure and happy.</h3>
    <a class="btn btn-primary btn-lg " href="/contact-us" role="button">Get in Touch Today</a>
  </div>
</div>

<section class="content-section content-section-a pattern-noise">
  <div class="container">

    <h1 class="text-center">Going forward together for a better future
      <br/>
      <small class="subtitle">Working with children, young people and their parents, offering support and experience how you need it, when you need it.</small>
    </h1>

  </div>
</section>

<section class="content-section content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">How I can help?</h2>
        <p class="lead">Sometimes things change around you, or you may want to make a change to your life.  I can help you work a way through and understand any problems in the past or present, moving to a better place for the future.</p>
        <p>
          We have all been there at some point, some more than others.
        </p>
        <p>
          My main ways of working are psychodynamic and psychotherapeutic.  I can explain these in more detail!
        </p>
        <p>
          Our sessions will be relaxed, and at your pace. I believe it is important that you feel safe, comfortable with yourself and your surroundings.  I will be non-judgemental and won’t criticise, and there will be no long silences!
        </p>
        <p>
          I work to a code of confidentiality.  We can talk about how this works.
        </p>
        <p>
          We can meet every week or 2 weeks, mainly talking but can work in other ways, for example writing, drawing, outdoors, whatever works best for you.
        </p>
        <p>
          The mind can be a confusing place, but together we can work to make sense of it.
        </p>
        <p>
          I find it useful to use our first session as an assessment session, though if there is a pressing issue we can of course address that first.
        </p>
        <p>
          The sessions can be used for individuals, parents or both together.
        </p>
        <p>
          If required, I can write reports to assist in supporting access to or co-working with other services such as Social Care, CAMHS or Education.
        </p>
      </div>
      <div class="col-sm-12 col-lg-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">I can help with?</h2>
        <p class="lead">Often when a family seeks out a therapist, they may have an idea about what is the cause of their child’s difficulties.  In my experience, it is usual that there is a combination of factors that result in people feeling the way they do.</p>
        <p>
          The areas that I mainly (though not exclusively) work with are:
        </p>
        <ul class="nice-list">



          <li>Anger management</li>
          <li>Self esteem</li>

          <li>
            Anxiety &amp; stress
          </li>
          <li>
            Self harm and suicidal ideation
          </li>
          <li>
            Bereavement
          </li>
          <li>
            Low mood and depression
          </li>
          <li>
            Bullying
          </li>
          <li>
            Attachment
          </li>
          <li>
            Alcohol and substance misuse
          </li>
          <li>
            Eating disorders
          </li>
          <li>
            Mental health issues
          </li>
          <li>
            Working with Social Care, CAMHS, schools and other statutory services
          </li>
          <li>
            Working through issues for children of separated parents
          </li>
          <li>
            Parenting
          </li>
          <li>
            Different ages – parenting to all ages
          </li>
          <li>
            Emotional Freedom Technique (EFT)
          </li>
          <li>
            Mindfulness
          </li>
          </ul>
          <p>
            For further information on these, please see our articles section.
          </p>
      </div>

    </div>
  </div>
</section>
