---
title: Services
---

<!-- first section - Home -->
<div id="services" class="landing-section services">
  <div class="bg_gradient">

  </div>
  <div class="wrapper">
    <div class="text-center white-text">
      <h1>I can offer one to one therapy sessions. </h1>
      <h3>These can be with young people/children individually, with parents or both together.   </h3>

    </div>
  </div>
</div>

<section class="content-section content-section-a pattern-noise">
    <div class="row">
      <div class="container">
      <div class="col-sm-12">
    <!-- <p>
      I can offer one to one therapy sessions.  These can be with young people/children individually, with parents or both together.
    </p> -->
    <p>
      Although I work predominantly with children, young people and their parents, I can also work with individual adults.
    </p>
    <p>
      Sessions will usually take place at <a href="http://www.cornerstone-sheffield.co.uk/" target="_new"><i class="fa fa-external-link"></i> Cornerstone Counselling and Therapy centre</a>, but we can also meet at school, at home or other venues by arrangement.
    </p>
    <p>
      My fees for sessions are £40 per 50 minutes.
      <br/>
      Concessions are available, please call me to discuss.
      <a class="btn btn-primary btn-lg text-center" style="margin-left: 25px;" href="/contact-us" role="button">Get in Touch Today</a>
    </p>
    </p>
  </div>
</div>

  </div>
</section>


<section class="content-section content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Consultancy</h2>
        <p class="lead">Following many years working in CAMHS, I can offer support and advice with mental health issues, and working with statutory services (e.g. CAMHS, Social Care, Education).  Available to provide one to one sessions as needed for professionals, either individually or groups.</p>


      </div>
      <div class="col-sm-12 col-lg-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Training</h2>
        <p class="lead">This can be for groups or individuals on mental health topics, private or public sector.  If you let me know your needs, I can tailor a package for you.  Please call me to discuss your requirements.</p>

      </div>
      <div class="col-sm-12 col-lg-12">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Report Writing</h2>
        <p class="lead">I have many years of experience in writing reports for professionals in the mental health field and Social Care.  If you require a report to support your needs, please contact me.</p>

      </div>

    </div>
  </div>
</section>
